name: Docker Test Workflow

on: push

jobs:
  test-docker-container:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:8.0-debian
    container:
      image: node:12-alpine3.15
      env:
        NODE_ENV: development
      ports:
        - 80:80
    steps:
      - name: Display service image
        run: echo '${{ toJson(job.services) }}'
      - name: Display NodeJS version
        run: |
          node -v
          cat /etc/os-release
      
      - name: Print new node version
        uses: docker://node:16-alpine
        with:
          args: -v
    