name: Docker Test Workflow

on: push

jobs:
  test-docker-container:
    runs-on: ubuntu-latest
    container:
      image: node:12-alpine3.15
      env:
        NODE_ENV: development
      ports:
        - 80:80
    steps:
      - name: Display NodeJS version
        run: |
          node -v
          cat /etc/os-release
    